/*Template 2108 Dashboard http://www.tooplate.com/view/2108-dashboard*/

:root {
  --dark-gray: #656565;
  --light-gray: #E6E6E6;
}

html {
  font-size: 17px;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-image: url(../img/dash-bg-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.tm-site-icon {
  color: var(--dark-gray);
}

.tm-site-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 1rem;
  color: var(--dark-gray);
  letter-spacing: 1px;
}

.navbar {
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.tm-logout-icon {
  font-size: 1.5em;
  margin-right: 5px;
}

.tm-mt-big {
  margin-top: 30px;
}

.tm-block {
  padding: 50px 45px;
}

.tm-block-title {
  font-size: 1.4rem;
  color: #333;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark-gray);
}

.navbar-light .navbar-nav .nav-link {
  padding: 15px 20px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav a:hover {
  background-color: var(--light-gray);
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.tm-content-row {
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; /* To offset col padding */
}

.tm-col {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.tm-col-big {
  width: 39%;
}

.tm-col-small {
  width: 21.95%;
}

ol {
  margin-bottom: 0;
}

.tm-list-group {
  padding-left: 0;
}

.tm-list-group > li {
  list-style-type: none;
  position: relative;
  transition: all 0.3s ease;
  padding: 8px;
}

.tm-list-group-pad-big > li {
  padding: 20px;
}

.tm-list-group > li:hover {
  color: #0266c4;
}

.tm-list-group-alternate-color > li:nth-child(odd) {
  background-color: var(--light-gray);
}

.tm-list-group > li:before {
  margin-right: 0.5em;
}

.form-control {
  margin-bottom: 23px;
  padding: 19px 18px;
  border-radius: 0;
  height: 50px;
}

label {
  margin-bottom: 18px;
}

.btn {
  border-radius: 0;
  transition: all 0.2s ease;
  max-width: 100%;
}

.btn-small {
  padding: 10px 24px;
}

.btn-primary {
  background-color: transparent;
  color: black;
  border-color: #999999;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: #cdd4da;
  border-color: #999999;
}

.table td,
.table th {
  padding: 20px 24px;
}

.table-hover tbody tr:hover {
  background-color: white;
  color: #3aabd0;
}

.tm-bg-gray {
  background-color: rgba(0, 0, 0, 0.05);
}

.tm-table-striped-even.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.tm-table-striped-even.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.1s linear;
}

input[type="checkbox"]:checked {
  background-color: #9f1321;
}

input[type="checkbox"]:focus {
  outline: 0 none;
  box-shadow: none;
}

.icon-color {
  color: #6e6c6c;
  cursor: pointer;
}
/*here*/
.icon-color:hover {
  color: #9f1321;
}

.custom-select {
  height: 50px;
  border-radius: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1630px;
  }
}

@media (max-width: 1275px) and (min-width: 1200px) {
  .nav-item {
    margin-right: 15px;
  }
}

@media (max-width: 1199px) {
  .tm-col-big,
  .tm-col-small {
    width: 49.65%;
  }

  .navbar-collapse {
    background: white;
    padding: 15px;
    box-shadow: rgba(108, 117, 125, 0.27) 0 1px 1px 0;
    position: absolute;
    top: 77px;
    right: 20px;
    width: 245px;
    z-index: 1000;
  }

  .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-item {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .tm-col-big,
  .tm-col-small {
    width: 100%;
    height: auto;
  }

  .tm-block {
    padding: 30px;
  }
}

@media (max-width: 574px) {
  .navbar-collapse {
    top: 70px;
  }

  .navbar {
    margin-top: 30px;
    height: auto;
  }

  body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tm-site-title {
    font-size: 1.4rem;
    margin-left: 7px;
  }

  .tm-site-icon {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .tm-mt-big {
    margin-top: 45px;
  }

  .table td,
  .table th {
    padding: 5px;
  }

  .tm-block.h-100 {
    padding: 20px;
  }

  .toast-container {
    max-width: 88%;
    width: 88%;
  }

  .toast {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}


@media (max-width: 424px) {
  .navbar-collapse {
    top: 107px;
  }

  .tm-block.h-100 {
    padding: 10px;
  }

  .toast-container {
    max-width: 84%;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #cccccc;
  color: #666666;
  border-color: #666666;
  cursor: not-allowed;
}

.btn.btn-link {
  padding: 0 0 3px;
}

@media (min-width: 481px) {
  .toast {
    min-width: 350px;
    width: fit-content;
  }
}