{% extends "base.html" %}
{% block content %}

    <div class="row tm-mt-big">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Edit Book</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form action="" class="tm-edit-product-form">
                            <div class="input-group mb-3">
                                <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                    Book title
                                </label>
                                <input placeholder="Product name" value="{{ book.title }}" id="name" name="name"
                                       type="text"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>

                            <div class="input-group mb-3">
                                <label for="category"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Author</label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="category">
                                    {% for author in authors %}
                                        <option value="{{ author.id }}"
                                                {% if author.id == book.author.id %}selected{% endif %}
                                        >
                                            {{ author.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}