{% extends "base.html" %}
{% block content %}

    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Books</h2>

                    </div>
                    <div class="col-md-4 col-sm-12 text-right">
                        <a href="add-product.html" class="btn btn-small btn-primary">Add New Book</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped tm-table-striped-even mt-3">
                        <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col">Title</th>
                            <th scope="col" class="text-center">Author</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for book in object_list %}
                        <tr>
                            <td class="tm-product-name">{{book.title}}</td>
                            <td class="text-center">{{book.author.name}}</td>
                            <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}