{% extends "base.html" %}
{% block content %}

    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Books</h2>

                    </div>
                    {% if user.is_superuser %}
                        <div class="col-md-4 col-sm-12 text-right">
                            <a href="{% url 'add_book' %}" class="btn btn-small btn-primary">Add New Book</a>
                        </div>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped tm-table-striped-even mt-3">
                        <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col">Title</th>
                            <th scope="col" class="text-center">Author</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for book in object_list %}
                            <tr>
                                <td class="tm-product-name">
                                    {{ book.title }}
                                </td>

                                <td class="text-center">
                                    {{ book.author.name }}
                                </td>

                                <td class="text-center">
                                    {% if user.is_superuser %}
                                        <a href="{% url 'update_book' book.id %}" data-toggle="tooltip"
                                           title="edit this book"
                                           class="mr-3">
                                            <i class="fas fa-edit icon-color"></i>
                                        </a>

                                        <a href="{% url 'delete_book' book.id %}" data-toggle="tooltip"
                                           title="delete this book">
                                            <i class="fas fa-trash-alt icon-color"></i>
                                        </a>
                                    {% else %}
                                        {% if book.reader %}
                                            {% if book.reader.id == user.id %}
                                                <a href="{% url 'toggle_reader' book.id %}" data-toggle="tooltip"
                                                   title="return this book">
                                                    <i class="fas fa-book-reader icon-color"></i>
                                                </a>
                                            {% else %}
                                                <i class="fas fa-book-open icon-color" data-toggle="tooltip"
                                                   title="{{ book.reader.username }} is reading this book"></i>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'toggle_reader' book.id %}" data-toggle="tooltip"
                                               title="get this book">
                                                <i class="fas fa-book icon-color"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}