{% extends "base.html" %}
{% block content %}
    <div class="tm-mt-big bg-white tm-block">
        <h1 class="text-center mb-5">Internal Server Error</h1>
        <p class="text-center">
            <a href="mailto:support@eman.com?subject=Internal%20Server%20Error&body=I%20encountered%20an%20internal%20server%20error%20on%20your%20website.%20Please%20look%20into%20this%20issue."
               target="_blank"> Contact </a> with support team to clarifier details.
        </p>
    </div>>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const element = $('#liveToast')[0];
            const message = "500";
            const messageTags = "error";
            const delay = 1;
            Toast.show({message, messageTags, delay, element});
        });
    </script>
{% endblock %}
