{% load static %}
<div class="toast-container top-1">
    <div class="toast border-0" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">{{ message | safe }}</div>
            <span class="message-tags d-none">{{ message.tags }}</span>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<script src="{% static 'js/toast.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(() => {
        const element = $('#liveToast')[0];
        const messageTags = $('.message-tags').text().trim();
        const message = $('.toast-body').text().trim();
        messageTags.length && Toast.show({messageTags, message, element});


        $(window).resize(() => {
            $(window).width() > 480
                ? $('.toast-container').addClass('start-50 translate-middle-x')
                : $('.toast-container').removeClass('start-50 translate-middle-x');
        }).trigger('resize');
    });
</script>