{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="tm-mt-big bg-white tm-block col-md-6 offset-md-3">

        <h2 class="tm-block-title text-center mb-4">
            {% if form_input.name.value %}Edit{% else %}Add{% endif %} Author
        </h2>

        <form method="post"
                {% if form_input.name.value %}
              action="{% url 'update_author' author_id %}"
                {% else %}
              action="{% url 'add_author' %}"
                {% endif %}
        >
            {% csrf_token %}

            <div class="input-group mb-2">
                <label for="name" class="sr-only">Name</label>
                {{ form_input.name.as_widget }}
                <div class="invalid-tooltip"> Client validation: At least one letter required</div>
                <div class="valid-tooltip"> Client validation: Looks good!</div>
            </div>

            <button type="submit" class="btn btn-primary w-100" id="submit" disabled>
                {% if form_input.name.value %}Update{% else %}Create{% endif %}
            </button>

        </form>
    </div>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
{% endblock %}