{% extends "base.html" %}
{% block content %}

    <div class="tm-mt-big bg-white tm-block h-100">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="tm-block-title">Books</h2>
            {% if user.is_superuser %}
                <a href="{% url 'add_book' %}" class="btn btn-small btn-primary">Add Book</a>
            {% endif %}
        </div>

        <div class="table-responsive">
            <table class="table table-striped tm-table-striped-even mt-3">
                <thead>
                <tr class="tm-bg-gray">
                    <th scope="col">Title</th>
                    <th scope="col" class="text-center">Author</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">

                {% for book in books %}
                    <tr>
                        <td>
                            {{ book.title }}
                        </td>

                        <td class="text-center">
                            {{ book.author.name }}
                        </td>

                        <td class="text-center">
                            {% if user.is_superuser %}
                                {% if book.reader %}
                                    <i class="fas fa-book-open icon-color" data-toggle="tooltip"
                                       title="{{ book.reader.username }} is reading this book.
                                               The book must be returned before editing or deleting">
                                    </i>
                                {% else %}
                                    <a href="{% url 'update_book' book.id %}" data-toggle="tooltip"
                                       title="Edit this book" class="me-md-5 me-3 text-decoration-none">
                                        <i class="fas fa-edit icon-color"></i>
                                    </a>
                                    {% include "post_icon_delete.html" with id=book.id url='delete_book' title='Delete this book' icon='fa-trash-alt' book=book %}
                                {% endif %}
                            {% else %}
                                {% if book.reader %}
                                    {% if book.reader.id == user.id %}
                                        {% include "post_icon_toggle.html" with id=book.id url='toggle_reader' title='Return this book' icon='fa-book-reader' %}
                                    {% else %}
                                        <i class="fas fa-book-open icon-color" data-toggle="tooltip"
                                           title="{{ book.reader.username }} is reading this book"></i>
                                    {% endif %}
                                {% else %}
                                    {% include "post_icon_toggle.html" with id=book.id url='toggle_reader' title='Get this book' icon='fa-book' %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}