{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="tm-mt-big bg-white tm-block col-md-6 offset-md-3">

        <h2 class="tm-block-title text-center">{% if book %}Edit{% else %}Add{% endif %} Book</h2>

        <form method="post"
                {% if book %}
              action="{% url 'update_book' book.id %}"
                {% else %}
              action="{% url 'add_book' %}"
                {% endif %}
        >
            {% csrf_token %}

            <div class="input-group mb-3">
                <label for="title" class="sr-only">Book title</label>
                <input placeholder="Book title" id="title" name="title" type="text" required class="form-control"
                        {% if book %} value="{{ book.title }}" {% endif %}>
            </div>

            <div class="input-group mb-3">
                <label for="author" class="sr-only">Author</label>
                <select class="custom-select" id="author" name="author" required>
                    {% for author in object_list %}
                        {% if book %}
                            <option value="{{ author.id }}"
                                    {% if author.id == book.author.id %}selected{% endif %}>
                                {{ author.name }}
                            </option>
                        {% else %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-block">
                {% if book %}Update{% else %}Create{% endif %}
            </button>

        </form>
    </div>


{% endblock %}